@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
*{
    margin: 0;
    padding: 0;
}
.app{
    
}
.head{
    
    display: flex;
    justify-content:space-around;
    height: 50%;
    width: 100%;
    border: 0.75px solid black;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
.nav-bar>ul{
    display: flex;
}
.nav-bar>ul>li{
    margin: 10px;
    padding: 5px;
    font-size: 1rem;
    list-style-type: none;
    text-decoration: none;
}
.head .logo-con{
    height: 100%;
    margin-left: 50px;
}
.logo-con .logo{
    margin-top: -15px;
    height: 100%;
    width: 30%;
}
.casual{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 20px;
    height: 30px;
}
.quote-con .quote{
    font-size: 18px;
}
.search-con{
    display:flex;
    align-items: center;
    height: 30px;
    
}
.icon{
    height: 20px;
   width: 20px;
}

.search-con .search{
    height: 20px;
    margin: 10px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    
    border-bottom: 1px solid black;
}
.body-con{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    
}
.shi-con{
    display: flex;
    flex-wrap: wrap;
    margin-left: 120px;
    padding: 10px;
    
}
.rescard{
   
    width: 270px;
    margin: 20px;
    background-color: white;
   
}
.shi-rescard{
   height: 300px;
    width: 300px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
   
}
.rescard .pic{
    border-radius: 15% 15% 15% 15%;
    height: 175px;
    width:  270px;
    
}
.shi-rescard .shi-pic-con{
    border-radius: 15% 15% 15% 15%;
    height: 175px;
    width:  300px;
    background-color: #f0f0f0;
}
.res-name{
    text-align: center;
    font-size: 20px;
}

.shi-res-name{
    height: 20px;
    width: 200px;
    text-align: center;
    font-size: 20px;
    background-color: #f0f0f0;
    margin-top: 20px;
    border-radius: 15%;
}

.cousines{
    margin-top: 5px;
    text-align: center;
    font-size: 10px;
    
}
.shi-cousines{
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
    background-color: #f0f0f0;
    height: 10px;
    width: 80px;
    border-radius: 15%;
}
.rating-eta{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.shi-rating-eta{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 20px;
    width: 100%;
}
.rating{
    
    color: green;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70px;
    font-size: 18px;
    border-radius: 20%;
}
.shi-eta{
    height: 20px;
    width: 50px;
    background-color: #f0f0f0;
    border-radius: 15%;
}
.shi-rating{
    background-color: #f0f0f0;
    height: 20px;
    width: 50px;
    border-radius: 15%;
    
}
.rescard:hover{
    cursor: pointer;
    
    transform: scale(0.95,0.95);
}
.search-con{
    display: flex;
    
    
    margin-left: 30px;
    padding: 10px;
}
.filter{
    margin-left: 60px;
}
.icon:hover{
    cursor: pointer;
}
.info-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.rest-name{
    margin-bottom: 50px;
}
.restaurant-info-con{
    background: linear-gradient(rgb(255, 255, 255) -6.71%, rgb(235, 235, 242) 56.19%, rgb(223, 223, 231) 106.56%);
    padding: 0px 16px 16px;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
}
.resrtaurant-info{
    height: 150px;
    width: 700px;
    border: 2px solid black;
    display:flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid rgba(2, 6, 12, 0.15);
    border-radius: 20px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 8px 16px 0px;
}
.page-con{
    
    width: 700px;
    border-bottom: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    
}
.item-con{
    width: 150px;
    
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.item-name{
    font-family: Gilroy_Bold;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
}
.item-price{
    font-family: Gilroy_Bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
}


.resrtaurant-info .ra-ca{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    
    margin-left: -50px;
}
.menu-list{
    margin-top: 20px;
}
.item-img-con{
    height: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.item-img{
    
    width: 150px; 
    height: 150px; 
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.add-con{
    position: absolute;
    margin-top: 125px;
}
.Add-btn{
    margin-top: 20px;
    cursor: pointer;
    width: 90px;
    height: 30px;
    text-align: center;
    border: 1px solid #a7a6a6;
    background-color: white;
    font-family: Gilroy;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgb(27, 166, 114);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
}
.Add-btn:hover{
    background-color: #e0e0e0;
}
.count-btn{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90px;
    height: 35px;
    text-align: center;
    border: 1px solid #a7a6a6;
    background-color: white;
    font-family: Gilroy;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgb(27, 166, 114);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
}
.cat-con{
    width: 680px;
    margin: 10px;
    
    display: flex;
    padding: 16px;
    justify-content: space-between;
    cursor: pointer;
    
}
.cat{
    font-family: Gilroy;
    font-weight: 800;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.3px;
    font-style: bold;
    color: rgba(2, 6, 12, 0.92);
}
.down-arrow{
    height: 15px;
    width: 15px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    transform: rotate(-45deg);
    transition: transform 0.3s ease;
}
.down-arrow.rotated {
    transform: rotate(135deg); 
}
.seperation{
    height: 15px;
    width: 700px;
    background-color: #f0f0f0;
}
.min{
    height: 33px;
    width: 30px;
    margin-left: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 0 0 8px;
}
.plus{
    height: 33px;
    width: 30px;
    margin-right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 8px 8px 0;
}
.min:hover{
    cursor: pointer;
    
    background-color: #f0f0f0;
}
.plus:hover{
    cursor: pointer;
    background-color: #f0f0f0;
}
.scroll-container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 14%;
    overflow-x: auto;
    margin: auto;
    width: 75%;
    height: 200px;
    overscroll-behavior-inline: contain;
}
.item{
    height: 90%;
    
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.food-title{
    margin-top: 20px;
    margin-left: 120px;
    font-family: Gilroy;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.4px;
    color: rgba(2, 6, 12, 0.92);
    overflow: hidden;
    
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.shi-foodImage{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-color: #f0f0f0;

}
hr.first-seperation{
    margin-top: 40px;
  margin-left: 13.5%;
  margin-bottom: 40px;
  width: 75%;
}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure box-sizing is border-box for all elements */
}

.appname {
    font-size: 24px;
    font-family: 'Lobster', cursive;
    /* Styles for your app container */
}

.head {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10%; /* Adjust height as needed */
    width: 100%;
    z-index: 1000; /* Ensures the header is on top */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 10px; /* Add padding for spacing */
    background-color: white;
}

.head .logo-con {
    height: 100%;
    margin-left: 20px; /* Adjust margin for spacing */
    transform: scale(1.2,1.2);
}

.logo-con .logo {
    height: 100%;
    width: 30%; /* Ensure logo size fits appropriately */
}

.nav-bar > ul {
    display: flex;
    justify-content: flex-end; /* Adjust alignment of nav items */
}

.nav-bar > ul > li {
    margin: 10px;
    padding: 5px;
    font-size: 1rem;
    list-style-type: none;
}

.casual {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    height: 30px;
}

.quote-con .quote {
    font-size: 18px;
}

.search-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px; /* Adjust margin for spacing */
    padding-right: 50px;
}
.grid-titile{
    font-size: 24px;
    font-family: Gilroy_Bold;
    font-weight: 800;
    margin-left:10% ;
}


.icon {
    height: 20px;
    width: 20px;
}
.search-search-logo{
    display: flex;
    justify-content: space-between;
}
.search-con .search {
    height: 20px;
    margin: 10px;
    border: none;
    border-bottom: 1px solid black; /* Simplify border styling */
}

.body-con {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
.coll-title{
    font-size: 40px;
    margin-top: 5%;
    margin-left: 15%;
    margin-bottom: 5%;
    font-family: Gilroy_Bold;
}

.shi-con {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.rescard {
    width: 270px;
    margin: 20px;
    background-color: white;
}

.shi-rescard {
    height: 300px;
    width: 300px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rescard .pic {
    border-radius: 15%;
    height: 175px;
    width: 270px;
}

.shi-rescard .shi-pic-con {
    border-radius: 15%;
    height: 175px;
    width: 300px;
    background-color: #f0f0f0;
}

.res-name {
    text-align: center;
    font-size: 20px;
}

.shi-res-name {
    height: 20px;
    width: 200px;
    text-align: center;
    font-size: 20px;
    background-color: #f0f0f0;
    margin-top: 20px;
    border-radius: 15%;
}

.cousines {
    margin-top: 5px;
    text-align: center;
    font-size: 10px;
}

.shi-cousines {
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
    background-color: #f0f0f0;
    height: 10px;
    width: 80px;
    border-radius: 15%;
}

.rating-eta {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.shi-rating-eta {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 20px;
    width: 100%;
}

.rating {
    color: green;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70px;
    font-size: 18px;
    border-radius: 20%;
}

.shi-eta {
    height: 20px;
    width: 50px;
    background-color: #f0f0f0;
    border-radius: 15%;
}

.shi-rating {
    background-color: #f0f0f0;
    height: 20px;
    width: 50px;
    border-radius: 15%;
}

.rescard:hover {
    cursor: pointer;
    transform: scale(0.95, 0.95);
}

.filter {
    margin-left: 60px;
}

.icon:hover {
    cursor: pointer;
}

.info-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rest-name {
    margin-bottom: 50px;
}

.restaurant-info-con {
    background: linear-gradient(rgb(255, 255, 255) -6.71%, rgb(235, 235, 242) 56.19%, rgb(223, 223, 231) 106.56%);
    padding: 0px 16px 16px;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
}

.resrtaurant-info {
    height: 150px;
    width: 100%; /* Adjust width as needed */
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid rgba(2, 6, 12, 0.15);
    border-radius: 20px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 8px 16px 0px;
}

.page-con {
    width: 100%; /* Adjust width as needed */
    border-bottom: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.item-con {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.item-name {
    font-family: Gilroy_Bold;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
}

.item-price {
    font-family: Gilroy_Bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
}

.resrtaurant-info .ra-ca {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%; /* Adjust width as needed */
    margin-left: -50px;
}

.menu-list {
    margin-top: 20px;
}

.item-img-con {
    height: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.item-img {
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.add-con {
    position: absolute;
    margin-top: 125px;
}

.Add-btn {
    margin-top: 20px;
    cursor: pointer;
    width: 90px;
    height: 30px;
    text-align: center;
    border: 1px solid #a7a6a6;
    background-color: white;
    font-family: Gilroy;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgb(27, 166, 114);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
}

.Add-btn:hover {
    background-color: #e0e0e0;
}

.count-btn {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90px;
    height: 35px;
    text-align: center;
    border: 1px solid #a7a6a6;
    background-color: white;
    font-family: Gilroy;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgb(27, 166, 114);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
}

.cat-con{
    width: 680px;
    margin: 10px;
    
    display: flex;
    padding: 16px;
    justify-content: space-between;
    cursor: pointer;
    
}
.cat{
    font-family: Gilroy;
    font-weight: 800;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.3px;
    font-style: bold;
    color: rgba(2, 6, 12, 0.92);
}
.down-arrow{
    height: 15px;
    width: 15px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    transform: rotate(-45deg);
    transition: transform 0.3s ease;
}
.down-arrow.rotated {
    transform: rotate(135deg); 
}
.seperation{
    height: 15px;
    width: 700px;
    background-color: #f0f0f0;
}
.min{
    height: 33px;
    width: 30px;
    margin-left: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 0 0 8px;
}
.plus{
    height: 33px;
    width: 30px;
    margin-right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 8px 8px 0;
}
.min:hover{
    cursor: pointer;
    
    background-color: #f0f0f0;
}
.plus:hover{
    cursor: pointer;
    background-color: #f0f0f0;
}
.scroll-container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 14%;
    overflow-x: auto;
    margin: auto;
    width: 75%;
    height: 200px;
    overscroll-behavior-inline: contain;
}
@media (max-width: 768px) {
    .scroll-container {
        grid-auto-columns: 20%; /* Adjust the width of each item for smaller screens */
        height: 150px; /* Adjust the height of the container for smaller screens */
    }
}

@media (max-width: 576px) {
    .scroll-container {
        grid-auto-columns: 30%; /* Further adjust width for even smaller screens */
        height: 100px; /* Further adjust height for smaller screens */
    }
}
.item{
    height: 90%;
    
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.food-title{
    margin-top: 20px;
    margin-left: 120px;
    font-family: Gilroy;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.4px;
    color: rgba(2, 6, 12, 0.92);
    overflow: hidden;
    
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.shi-foodImage{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-color: #f0f0f0;

}
hr.first-seperation{
    margin-top: 40px;
  margin-left: 13.5%;
  margin-bottom: 40px;
  width: 75%;
}
.carthead{
    width: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cartCount{
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    margin-top: -7px;
}
.itemdisplay{
    width: 70%;
   height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.name-count{
    display: flex;
    justify-content: space-around;
    width: 35%;
}
.cart-price-con{
    display: flex;
    width: 35%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 1px;
   
}
.cart-count-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90px;
    height: 35px;
    text-align: center;
    border: 1px solid #a7a6a6;
    background-color: white;
    font-family: Gilroy;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgb(27, 166, 114);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
}